<div>
    <header class="p-1 border-bottom">
        <div class="container">
          <div>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-dark">
              <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
              <li><a href="/dashboard/profile" class="nav-link">Profile</a></li>
              <li><a href="/dashboard/articles" class="nav-link">Articles</a></li>
              <li><a href="/dashboard/create" class="nav-link">Create</a></li>
            </ul>
          </div>
        </div>
    </header>
    <div class="pt-4">
        
    </div>
</div>